@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
:root {
  --marine-blue: hsl(213, 96%, 18%); /* Primary */
  --purplish-blue: hsl(243, 100%, 62%); /* Primary */
  --pastel-blue: hsl(228, 100%, 84%); /* Primary */
  --light-blue: hsl(206, 94%, 87%); /* Primary */
  --strawberry-red: hsl(354, 84%, 57%); /* Primary */
  --cool-gray: hsl(231, 11%, 63%); /* Neutral */
  --light-gray: hsl(229, 24%, 87%); /* Neutral */
  --magnolia: hsl(217, 100%, 97%); /* Neutral */
  --alabaster: hsl(231, 100%, 99%); /* Neutral */
  --white: hsl(0, 0%, 100%); /* Neutral */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  height: 750px;
}
body {
  width: 100%;
  height: 750px;
}
/* Global Mobile************************/
.root-mob {
  width: 100%;
  height: 750px;
  font-family: "Ubuntu", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}
.root-mob::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-size: cover;
  background-position: center top;
  z-index: -1;
}
.root-mob::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: var(--magnolia);
  z-index: -1;
}
.main-mob {
  width: 375px;
  height: 750px;
  display: grid;
  grid-template: 3fr 18fr 2fr / auto;
  grid-template-areas:
    "one"
    "two"
    "three";
  padding: 0.5rem;
  gap: 0.2rem;
}
/* Global Des************************/
.root-des {
  width: 100%;
  height: 750px;
  font-family: "Ubuntu", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.main-des {
  width: 375px;
  height: 750px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr;
  grid-template-areas:
    "aaa bbb bbb"
    "aaa bbb bbb"
    "aaa bbb bbb"
    "aaa bbb bbb"
    "aaa bbb bbb"
    "ccc ccc ccc";
  padding: 0.5rem;
  gap: 0.2rem;
}
/* Aside Mob************************/
.asmob {
  grid-area: one;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.asmob-menu {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  font-weight: bolder;
}
.asmob-clear {
  color: var(--white);
}
.asmob-selected {
  color: var(--marine-blue);
  background-color: var(--light-blue);
}
/* Aside Des************************/
.asdes {
  grid-area: aaa;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
  background-image: url("./images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.asdes-menu {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
  gap: 1rem;
  padding-left: 2rem;
}
.asdes-clear {
  color: var(--white);
}
.asdes-selected {
  color: var(--marine-blue);
  background-color: var(--light-blue);
}
.asdes-circle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  font-weight: bolder;
}
.asdes-step {
  color: var(--cool-gray);
  font-size: 0.9rem;
  text-transform:uppercase;
}
.asdes-steptitle {
  color: var(--white);
  font-size: 1.1rem;
  text-transform:uppercase;
}
/* Section Mob************************/
/* section-one Mob ************************/
.sec1 {
  grid-area: two;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.sec1-art {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 100%;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.sec1-h1 {
  font-size: 1.7rem;
  text-align: left;
  width: 100%;
  color: var(--marine-blue);
}
.sec1-h2 {
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  color: var(--cool-gray);
}
.sec1-labinp {
  width: 100%;
}
.sec1-lab {
  display: block;
  width: 100%;
  color: var(--marine-blue);
  font-weight: bolder;
  margin-bottom: 0.3rem;
}
.sec1-inp {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 1px solid var(--cool-gray);
  border-radius: 5px;
}
.sec1-nav {
  height: 15%;
  background-color: var(--white);
  width: 100%;
  padding-right: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
.sec1-but {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 5px;
  background-color: var(--marine-blue);
  color: var(--white);
  font-weight: bolder;
}
/* section-two Mob ************************/
.sec2 {
  grid-area: two;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.sec2-art {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 100%;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.sec2-h1 {
  font-size: 1.7rem;
  text-align: left;
  width: 100%;
  color: var(--marine-blue);
}
.sec2-h2 {
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  color: var(--cool-gray);
}
.sec2-plans {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
}
.sec2-plans-selected {
  border: 1.5px solid var(--marine-blue);
}
.sec2-plans-unselected {
  border: 1px solid var(--cool-gray);
}
.sec2-icon-arcade {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sec2-icon-arcade::before {
  background-image: url("./images/icon-arcade.svg");
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec2-plans-type {
  color: var(--marine-blue);
  font-weight: bolder;
}
.sec2-plans-rate {
  font-size: 0.9rem;
  color: var(--cool-gray);
}
.sec2-plans-free {
  color: var(--marine-blue);
  font-size: 0.9rem;
}
.sec2-icon-advanced {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sec2-icon-advanced::before {
  background-image: url("./images/icon-advanced.svg");
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec2-icon-pro {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sec2-icon-pro::before {
  background-image: url("./images/icon-pro.svg");
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec2-option {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  border: 1px solid var(--cool-gray);
  background-color: var(--magnolia);
}
.sec2-monthly {
  color: var(--marine-blue);
  font-weight: bolder;
}
.sec2-yearly {
  color: var(--cool-gray);
  font-weight: bolder;
}
.sec2-toggler {
  width: 3rem;
}
.sec2-checkbox {
  display: none;
}
.sec2-switch {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--marine-blue);
  border-radius: 20px;
}
.sec2-switch::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--white);
  top: 2px;
  left: 2px;
  transition: all 0.4s;
}
.sec2-checkbox:checked + .sec2-switch::after {
  left: 20px;
}
.sec2-checkbox:checked + .sec2-switch {
  background-color: var(--strawberry-red);
}
.sec2-nav {
  height: 15%;
  background-color: var(--white);
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.sec2-back {
  font-weight: bolder;
  color: var(--cool-gray);
}
.sec2-but {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 5px;
  background-color: var(--marine-blue);
  color: var(--white);
  font-weight: bolder;
}
/* section-three Mob ************************/
.sec3 {
  grid-area: two;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.sec3-art {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 100%;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.sec3-h1 {
  font-size: 1.7rem;
  text-align: left;
  width: 100%;
  color: var(--marine-blue);
}
.sec3-h2 {
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  color: var(--cool-gray);
}
.sec3-addons {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  border: 1px solid var(--cool-gray);
}
.sec3-addons-selected {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  border: 1.5px solid var(--marine-blue);
}
.sec3-input {
  width: 1.5rem;
  height: 1.5rem;
}
.sec3-addons-type {
  color: var(--marine-blue);
  font-weight: bolder;
}
.sec3-addons-desc {
  font-size: 0.75rem;
  color: var(--cool-gray);
}
.sec3-nav {
  height: 15%;
  background-color: var(--white);
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.sec3-back {
  font-weight: bolder;
  color: var(--cool-gray);
}
.sec3-but {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 5px;
  background-color: var(--marine-blue);
  color: var(--white);
  font-weight: bolder;
}
/* section-four Mob ************************/
.sec4 {
  grid-area: two;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.sec4-art {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 100%;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.sec4-h1 {
  font-size: 1.7rem;
  text-align: left;
  width: 100%;
  color: var(--marine-blue);
}
.sec4-h2 {
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  color: var(--cool-gray);
}
.sec4-selplan {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--magnolia);
}
.sec4-total {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--white);
}
.sec4-plan {
  color: var(--marine-blue);
  font-weight: bolder;
}
.sec4-change {
  font-size: 0.9rem;
  color: var(--cool-gray);
  text-decoration: underline;
}
.sec4-totals {
  color: var(--marine-blue);
  font-weight: bolder;
}
.sec4-seladdons {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--magnolia);
}
.sec4-addonsprice {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.sec4-addons {
  font-size: 0.9rem;
  color: var(--cool-gray);
}
.sec4-price {
  color: var(--marine-blue);
  font-size: 0.8rem;
}
.sec4-totalword {
  font-size: 0.9rem;
  color: var(--cool-gray);
}
.sec4-totalfig {
  color: var(--purplish-blue);
  font-weight: bolder;
}
.sec4-nav {
  height: 15%;
  background-color: var(--white);
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.sec4-back {
  font-weight: bolder;
  color: var(--cool-gray);
}
.sec4-but {
  height: 2.5rem;
  width: 5.5rem;
  border-radius: 5px;
  background-color: var(--marine-blue);
  color: var(--white);
  font-weight: bolder;
}
/* section-five Mob ************************/
.sec5 {
  grid-area: two;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.sec5-art {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 85%;
  width: 100%;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.sec5-thankyouimg {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.sec5-thankyouimg::before {
  background-image: url("./images/icon-thank-you.svg");
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.sec5-thankyou {
  color: var(--marine-blue);
  font-weight: bolder;
  font-size: 1.5rem;
}
.sec5-thanks {
  color: var(--cool-gray);
  width: 80%;
  text-align: center;
  font-size: 0.8rem;
}
/* Section Des************************/
/* section-one Des************************/
.secd1 {
  grid-area: bbb;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
/* section-two Des************************/
.secd2 {
  grid-area: bbb;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.secd2-plans-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
}
.secd2-plans {
  width: 30%;
  padding: 1.5rem 0 1.5rem 1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  border-radius: 5px;
}
.secd2-plans-selected {
  border: 1.5px solid var(--marine-blue);
}
.secd2-plans-unselected {
  border: 1px solid var(--cool-gray);
}
/* section-three Des************************/
.secd3 {
  grid-area: bbb;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.secd3-addons {
  width: 100%;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  border: 1px solid var(--cool-gray);
}
.secd3-addons-selected {
  border: 1.5px solid var(--marine-blue);
}
.secd3-addons-unselected {
  border: 1px solid var(--cool-gray);
}
.secd3-addons-details{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width:100%;
}
.secd3-addons-desc{
  font-size: 0.9rem;
  color: var(--cool-gray);
}
.secd3-addons-cost{
  color: var(--purplish-blue);
}
/* section-four Des************************/
.secd4 {
  grid-area: bbb;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  gap: 5rem;
}
.secd4-selplan {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--magnolia);
}
.secd4-addonsprice {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem 1rem;
}
.secd4-total {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  background-color: var(--white);
}
/* section-five Des************************/
.secd5 {
  grid-area: bbb;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  gap: 5rem;
}
.secd5-art {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1rem;
}
.secd5-thankyouimg {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.secd5-thankyouimg::before {
  background-image: url("./images/icon-thank-you.svg");
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.secd5-thankyou {
  color: var(--marine-blue);
  font-weight: bolder;
  font-size: 1.7rem;
}
.secd5-thanks {
  color: var(--cool-gray);
  width: 80%;
  text-align: center;
  font-size: 1rem;
}
/* Footer Mobile************************/
.foot-mob {
  grid-area: three;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 10px;
  color: var(--very-dark-graylish-blue);
  background-color: var(--light-gray);
}
.foot-mob-anc {
  color: hsl(198, 97%, 40%);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
}
.foot-mob-anc:hover {
  color: hsl(198, 97%, 50%);
  transform: scale(1.1);
  text-decoration: underline;
}
/* Footer Desktop************************/
.foot-des {
  grid-area: ccc;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 10px;
  color: var(--very-dark-graylish-blue);
  background-color: var(--light-gray);
}
.foot-des-anc {
  color: hsl(198, 97%, 40%);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bolder;
}
.foot-des-anc:hover {
  color: hsl(198, 97%, 50%);
  transform: scale(1.1);
  text-decoration: underline;
}
/* Media Queries ************************/
@media (min-width: 500px) {
  .main-mob {
    width: 475px;
  }
}
@media (min-width: 600px) {
  .main-mob {
    width: 570px;
  }
}
@media (min-width: 700px) {
  .main-mob {
    width: 665px;
  }
  .main-des {
    width: 665px;
  }
}
@media (min-width: 800px) {
  .main-mob {
    width: 760px;
  }
  .main-des {
    width: 760px;
  }
}
@media (min-width: 1000px) {
  .main-mob {
    width: 950px;
  }
  .main-des {
    width: 950px;
  }
}
